*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Suez One', serif;

}
body{
    height: 850px;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    right: 0;
    left: 0;
    overflow-x: hidden;
    min-width: 350px;
    /* max-height: 100vh; */
    /* overflow-y:hidden ; */
    margin-bottom: 10px;
 

}
.Matmid{
    position: absolute;
    width: 98%;
    top: 180px;
    right: 0;
    max-width: 100%;
    background-color: white;
    border: 1px solid black;
    box-shadow:  5px 5px black;
}
.matmid{
    position: absolute;
    width: 80%;
    top: 225px;
    left: 0;
    max-width: 100%;
    background-color: white;   
    border: 1px solid black;
    box-shadow:  5px 5px black;

}
.Eshkol{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.Police{
    width: 80px;
    position: absolute;  
    top: 750px;
    height: 80px;
    right:  30px;
}
.Mgv{
    width: 80px;
    position: absolute;
    height: 80px;
    top: 750px;
    left: 30px;
}
.skills{
    position: absolute;
    top: 480px;
    right: 10px;
    width: 160px;
    height: 40px;
   /* overflow: hidden; */

}
.skills:hover{
    cursor: pointer;
}
.skills>img{
    width: 160px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px black;
    padding: 5px;
   
}

.skillPopup{
    /* background-color: rgb(64, 117, 48); */
    background-image: url(img/backcolor.jpg);

    width: 80%;
    height: 50%;
    position: absolute;
top: 0px;   
bottom: 0;
right: 0;
left: 0;
margin: auto auto; 
border-radius: 30px;
direction: rtl;
border: 2px solid white;
z-index: 3;
overflow: hidden;
display: none;
padding: 5px;
min-width: 320px;




}
.insideSkills{
    position: relative;
    top: 0px;
    right: 10px;
    width: 240px;
    /* padding-left: 200px; */
}

.skillPopup>ul{
    position: relative;
    top: 10px;
    right: 20px;
    font-size: 18px;
    width: 90%;
    
    color: white;
    text-shadow: 2px 2px black;
}
.warper{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    position: absolute;
    z-index: 1;
display: none;

}

.cancel{
    width: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.cancel:hover{
    cursor: pointer;
}


.needs{
    position: absolute;
    top: 480px;
    left:  10px;
    width: 160px;
    height: 40px;
   /* overflow: hidden; */
   /* padding: 5px; */
   

}
.needs:hover{
    cursor: pointer;
}
.needs>img{
    width: 160px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 5px 5px black;
}

.needPopup{
    /* background-color: rgb(64, 117, 48); */
    background-image: url(img/backcolor.jpg);
    width: 80%;
    height: 20%;
    position: absolute;
top: 0px;   
bottom: 0;
right: 0;
left: 0;
margin: auto auto; 
border-radius: 30px;
direction: rtl;
border: 2px solid white;
z-index: 3;
overflow: hidden;
display: none;
padding: 5px;
min-width: 320px;


}
.insideNeeds{
    position: relative;
    top: 0px;
    right: 0px;
    width: 200px;
}

.needPopup>ul{
    position: relative;
    top: 10px;
    right: 25px;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px black;
}

.tel{
    width: 70px;
    height: 70px;
   
    text-align: center;
    margin: 0 50px;
}
.tel>a>img{
    width: 100%;
}
.whats{
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 0 50px;


}
.whats>a>img{
    width: 100%;
    height: 100%;

}
.icons{
    width: 80%;
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    flex-direction: row-reverse;
    margin: 0 auto;
    font-size: 30px;
    color: #0ba81d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px rgb(0, 0, 0);


}
.contact{
    position: absolute;
    text-align: center;
    bottom: 300px;
    left: 0;
    right: 0;
    flex-direction: row-reverse;
    margin: 0 auto;
    font-size: 34px;
    color: #0ba81d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px rgb(0, 0, 0);
}
.topimg{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0px;
    clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0% 100%);
    z-index: 0;

}
.road{
    opacity: 0.2;
    z-index: -3;
    position: absolute;
    bottom: 0px;
    width: 100%;


}
footer{
    position: absolute;
    top: 550px;
    right: 0;
    /* background-color: #0ba81d; */
    background-image: url(img/backcolor.jpg);
    z-index: -1;
    width: 100%;
    height: 300px;
    /* clip-path: polygon(39% 74%, 86% 70%, 100% 50%, 100% 100%, 0 100%, 0 80%);
     */
     /* clip-path: polygon(38% 76%, 69% 64%, 100% 50%, 100% 100%, 0 100%, 0 90%); */
     clip-path: polygon(62% 62%, 100% 53%, 100% 100%, 0 100%, 0 78%, 23% 71%);

     box-shadow: yellow 5px -5px inset;
}

p{
    position: absolute;
    top: 280px;
    width: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    direction: rtl;
    text-align: center;
    font-size: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;    
    text-shadow: 1px 1px darkgreen;
    box-shadow: 2px 2px black;
}
.backTop{
    height: 400px;
    width: 100%;
}
.icons{
    width: 100%;

}
.nisim{
    margin: 0 auto;
    background-color: white;
    border: 1PX SOLID black;
    border-radius: 20px;
    box-shadow:  5px 5px black;
}
.tel>img{
    width: 100%;
    height: 100%;
}
.whatsapp>img{
    width: 100%;
    height: 100%;
}

.tel{
 display: block;
 width: 40px;
 height: 40px;  
 margin: 0 20px;
}
.whatsapp{
    display: block;
    width: 55px;
    height: 55px;  
   position: relative;
   bottom: 10px;
 margin: 0 20px;

   }
   
   .contact{
       width: 40%;
       position: absolute;
       height: 60px;
       top: 660px;
       display: flex;
       justify-content: center;
       background-color: white;
       padding-top: 10px;
       border-radius: 30px;
       border: 3px solid black;
       direction: rtl;
       box-shadow: 3px 3px black;
   }